@mixin Button {
  --bg-color-button: transparent;
  --text-color-button: var(--ds-color-black);
  --border-color-button: var(--ds-color-black);
  --border-radius-button: #{$ds-radius-width--x-large};
  --icon-size-button: 10px;
  --border-before-height-button: 1px;

  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  max-width: max-content;
  background-color: var(--bg-color-button);
  color: var(--text-color-button);
  font-weight: 300;
  border-radius: var(--border-radius-button);
  text-decoration: none;
  padding: $ds-spacings--standard $ds-spacings--large;
  border: none;
  transition: all ease-in .3s;
}

@mixin Button--primary {
  @include Button;

  background-color: var(--ds-color-primary);
  color: var(--text-color-button);

  &:hover {
    background-color: var(--ds-color-black);
    color: var(--ds-color-white);
  }

  .-themeDark & {
    &:hover {
      background-color: var(--ds-color-white);
      color: var(--ds-color-black);
    }
  }
}

@mixin Button--secondary {
  @include Button;

  --bg-color-button: var(--ds-color-black);
  color: var(--ds-color-white);

  &:hover {
    --bg-color-button: var(--ds-color-white);
    color: var(--ds-color-black);
  }

  .-themeDark & {
    --bg-color-button: var(--ds-color-white);
    --text-color-button: var(--ds-color-black);
  }
}

@mixin Button--simpleLink {
  @include Button;

  --text-color-button: var(--ds-color-white);
  font-size: $ds-font-size-300;
  padding: 0;
  gap: $ds-spacings--x-small;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: var(--border-before-height-button);
    background-color: var(--ds-color-white);
    left: 0;
    bottom: 0;
  }

  &:after {
    position: relative;
    content: url($path-icon + "icon-arrow-link.svg");
    width: var(--icon-size-button);
    height: var(--icon-size-button);
    align-self: flex-start;
  }
}

@mixin Button--arrow {
  @include Button;

  --text-color-button: var(--ds-color-primary);
  padding: $ds-spacings--standard $ds-spacings--large $ds-spacings--standard 0;
  width: 1.75rem;
  align-items: center;

  &::after {
    position: absolute;
    content: url($path-icon + 'icon-gray-arrow.svg');
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}


@mixin Button--download {
  @include Button;

  --text-color-button: var(--ds-color-black);
  font-weight: 300;
  align-items: center;
  justify-content: space-around;
  gap: $ds-spacings--semi;
  padding-block: $ds-spacings--standard;
  border: 1px solid var(--border-color-button);
  transition: all .3s ease-in;

  &::after {
    position: absolute;
    left: $ds-spacings--semi;
    //content: url($path-icon + 'download-icon.svg');
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-229 31 500 500"><path d="M110.5,408.6H-68c-6,0-10.8,4.9-10.8,10.8c0,6,4.9,10.8,10.8,10.8h178.6c6,0,10.8-4.9,10.8-10.8C121.5,413.5,116.6,408.6,110.5,408.6L110.5,408.6z"/><path d="M13.4,369.7c2.1,2.2,4.9,3.5,7.9,3.5s5.9-1.3,7.9-3.5l63.6-68.2c4.1-4.3,3.8-11.3-0.5-15.3c-4.3-4.1-11.3-3.8-15.3,0.5l-44.8,48V216.3c0-6-4.9-10.8-10.8-10.8c-6,0-10.8,4.9-10.8,10.8v118.4l-44.7-48c-4.1-4.3-11-4.7-15.3-0.5c-4.3,4.1-4.7,11-0.5,15.3L13.4,369.7z"/></svg>');
    width: 3.5rem;
    height: 3.5rem;
    background-color: $ds-color-white;
    padding: $ds-spacings--semi;
    border-radius: $ds-radius-round;
  }

  &:hover {
    --bg-color-button: var(--ds-color-secondary);
    --text-color-button: var(--ds-color-white);
    --border-color-button: var(--ds-color-secondary);
  }

  .-themeDark & {
    --bg-color-button: var(--ds-color-white);
    --text-color-button: var(--ds-color-black);

    &:hover {
      --bg-color-button: var(--ds-color-black);
      --text-color-button: var(--ds-color-white);
    }
  }
}
