@mixin Theme--dark {
  background-color: var(--ds-color-black);
  color: var(--ds-color-white);
}

@mixin Theme--light {
  background-color: var(--ds-color-white);
  color: var(--ds-color-black);
}

@mixin Teaser {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}