:root {
  --bg-theme-color: #{$ds-color-white};
  --text-theme-color: #{$ds-color-black};
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow-y: hidden;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend %TextStyle-body0;

  position: relative;
  background: $ds-color-beige;
  width: 100%;
  color: var(--text-theme-color);
  min-height: 100vh;
  line-height: 1.6;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: $ds-color-secondary;

  &:hover {
    color: $ds-color-primary;
  }
}

.breadcrumbs {
  position: relative;
  z-index: 10;
  background: transparent;
  display: block;
  color: darken($ds-color-black, 15%);
  margin: 0;
  padding: 0;
  font-size: .75rem;
  text-align: left;

  nav {
    display: block;
  }

  span {
    color: darken($ds-color-black, 15%);

    &.breadcrumb_last {
      font-weight: bold;
    }
  }

  a {
    color: darken($ds-color-black, 10%);
  }
}

.PageWrapper {
  @extend %PageWrapper;
}

.PageInner {
  @extend %PageInner;
}

img {
  max-width: 100%;
  height: auto;
}