{#
Title: Séparateur
Description: Permet d'insérer une séparation.
Category: Contenu du flexible
Icon: image-flip-vertical
Keywords: gosselink séparateur
#}

{% set flexi_separator = function('get_field', 'separator') %}

<div style="height: {{ flexi_separator }}px"></div>