{% extends "base.twig" %}
{% block content %}
    <div class="HomePage">
        {#        {% include 'partials/homepage-slider.twig' %} #}
        <div class="HomePage-section -themeLight">
            <div class="HomePage-inner">
                <h1>
                    Heading H1
                </h1>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h2>
                    Heading H2
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h3>
                    Heading H3
                </h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h4>
                    Heading H4
                </h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h5>
                    Heading H5
                </h5>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h6>
                    Heading H6
                </h6>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>
            </div>
        </div>
        <div class="HomePage-section -themeDark">
            <div class="HomePage-inner">
                <h1>
                    Heading H1
                </h1>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h2>
                    Heading H2
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h3>
                    Heading H3
                </h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h4>
                    Heading H4
                </h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h5>
                    Heading H5
                </h5>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>

                <h6>
                    Heading H6
                </h6>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem aperiam, eaque ipsa quae.
                </p>
            </div>
        </div>
        <div class="HomePage-section -themeLight">
            <div class="HomePage-inner">
                <h3>
                    Dropcaps
                </h3>
                <p class="has-drop-cap">
                    Quensectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, sed do
                    eiusm od tempor incididunt ut labore. Consectetur adipiscing elit, sed do. Eiusm od tempor
                    incididunt ut labore.
                </p>

                <p class="has-drop-cap -style2">
                    Quensectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, sed do
                    eiusm od tempor incididunt ut labore. Consectetur adipiscing elit, sed do. Eiusm od tempor
                    incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="HomePage-section -themeLight">
            <div class="HomePage-inner">
                <h3>Blockquote</h3>
                <blockquote>
                    <p>
                        Adipiscing elit, sed do eiusmod tempor incididunt labore et dolore sed magna iste natus sit
                        aliqua ut enim minim adipiscing elit, sed do.
                    </p>
                    <cite>John Doe</cite>
                </blockquote>
            </div>
        </div>
        <div class="HomePage-section -themeDark">
            <div class="HomePage-inner">
                <h3>Blockquote</h3>
                <blockquote>
                    <p>
                        Adipiscing elit, sed do eiusmod tempor incididunt labore et dolore sed magna iste natus sit
                        aliqua ut enim minim adipiscing elit, sed do.
                    </p>
                    <cite>John Doe</cite>
                </blockquote>
            </div>
        </div>
        <div class="HomePage-section">
            <div class="HomePage-inner">
                <table>
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Apple</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Microsoft</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Amazon</td>
                        <td>Helen Bennett</td>
                        <td>Canada</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}