{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}

	<section class="content-wrapper">
        <div class="grid-container">
            <h1>Site actuellement en maintenance</h1>

            <p>Merci de revenir ultèrieurement.</p>
        </div>

	</section>

{% endblock %}