{% extends "base.twig" %}

{# Template used for plugins generated pages, mainly WooCommerce #}

{% block content %}

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            {{ content }}
        </div>
    </div>

{% endblock %}