.SiteFooter {
  @extend %PageWrapper;

  position: relative;
  font-size: $ds-font-size-400;
  margin-block: $ds-spacings--large;

  &-inner {
    @extend %PageInner;

    display: grid;
    grid-template-areas:
            'contact contact'
            'presentation presentation'
            'brand certification'
            'nav nav';
    grid-template-columns: repeat(6, 1fr);
    border-radius: $ds-radius-width--x-medium;
    padding: $ds-spacings--medium;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
            'contact presentation'
            'brand nav certification';
      grid-template-rows: 3fr;
      padding: $ds-spacings--xx-large $ds-spacings--large;
    }
  }

  &-contactBlock {
    grid-area: contact;
    grid-column: 1/-1;
    margin-block-end: $ds-spacings--xx-large;

    @include breakpoint('tablet') {
      grid-column: 1/7;
      grid-row: 1/2;
      margin-block-end: $ds-spacings--max-wide;
    }
  }

  &-title {
    @extend %TextStyle-heading3;

    font-weight: 300;
    margin-bottom: $ds-spacings--xx-large;
  }



  &-presentationBlock {
    grid-area: presentation;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: $ds-spacings--standard;

    @include breakpoint('tablet') {
      grid-row: 1/2;
      grid-column: 7/-1;
      gap: $ds-spacings--medium;
    }
  }

  &-social {
    ul {
      display: flex;
      gap: $ds-spacings--standard;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &-brandBlock {
    grid-area: brand;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    gap: $ds-spacings--standard;
    justify-content: flex-start;

    @include breakpoint('mobile-large') {
      flex-direction: row;
      align-items: flex-end;

    }

    @include breakpoint('tablet') {
      grid-column: 1/7;
      grid-row: 3/-1;
    }
  }

  &-logo {
    display: flex;

    img {
      width: size(120);
      height: auto;
    }
  }

  &-address {
    line-height: 1;
  }

  &-menuBlock {
    grid-area: nav;
    grid-column: 1/-1;
    align-content: flex-end;
    margin-block-start: $ds-spacings--xx-large;

    @include breakpoint('tablet') {
      grid-column: 7/12;
      grid-row: 3/-1;
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: $ds-spacings--standard;
    }

    a {
      @include transition();

      position: relative;
      display: flex;
      line-height: 1;
      font-size: $ds-font-size-300;
      width: 100%;
      padding: 0;
      color: $ds-color-white;
      text-decoration: none;

      &:hover {
        @include transition();

        color: $ds-color-secondary;
      }
    }
  }

  &-certificationBlock {
    grid-area: certification;
    grid-column: 6/-1;
    display: flex;
    justify-content: flex-end;

    @include breakpoint('tablet') {
      grid-column: 12/-1;
      grid-row: 3/-1;
    }

    img {
      width: size(56);
      height: size(91);
    }

    //&.-mobile {
    //  @include breakpoint('tablet', max) {
    //    display: flex;
    //  }
    //  display: none;
    //}
    //
    //&.-desktop {
    //  display: none;
    //  @include breakpoint('tablet') {
    //    display: flex;
    //  }
    //}
  }
}

.scrolltop {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: size(64);
  height: size(64);
  padding: $ds-spacings--standard;
  right: size(15);
  bottom: size(5);
  border-radius: $ds-radius-round;
  display: none;
  opacity: 0;
  z-index: 10;
  transition: all 1s ease-in-out;
  background-color: $ds-color-secondary;

  &.is-visible {
    @include transition();

    display: flex;
  }

  &.fade-out {
    opacity: 1;
  }

  &:after {
    position: relative;
    content: url($path-icon + 'icon-arrow.svg');
    inset: 0;
    width: $ds-spacings--medium;
    height: $ds-spacings--medium;
    transform: rotate(-90deg);
  }
}

/* Popup */
#popup {
  @include transition();

  position: fixed;
  inset: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &:target, &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    overflow-y: scroll;
    height: 100%;
  }

  & > div.popup-content {
    width: 100%;
    padding: $ds-spacings--x-large $ds-spacings--medium;
    background: $ds-color-white;
  }

  .close-button {
    position: absolute;
    z-index: 10;
    right: $ds-spacings--semi;
    top: $ds-spacings--semi;
    width: auto;
    background: $ds-color-black;
    color: $ds-color-white;
    text-align: center;
    padding: $ds-spacings--semi;
    cursor: pointer;
    display: block;
    border: none;
  }
}