.SiteHeader {
  @extend %PageWrapper;

  position: fixed;
  top: 0;
  z-index: 20;
  padding-block: size(60);
  transition: top ease-in-out 0.3s;

  &-container {
    @extend %PageInner;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0;

    @include breakpoint('desktop', max) {
      height: size(50);
    }

    .cart {
      display: none;
      width: size(70);
      height: size(70);
      margin-left: $ds-spacings--medium;

      svg {
        fill: $ds-color-secondary;
      }

      @include breakpoint('desktop') {
        display: block;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      position: relative;
      z-index: 16;
      margin: 0;
      padding: 0;
      font-size: unset;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        position: relative;
        z-index: 5;
        height: 100%;
      }

      img {
        max-height: size(35);
        margin-block: 0;
        transform: translateY(0);
        //height: calc(#{$header-height} - #{$ds-spacings--medium});

        @include breakpoint('desktop') {
          max-height: size(85);
        }
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint("desktop") {
      justify-content: flex-end;
    }
  }

  &-topSearch {
    display: flex;
    justify-content: center;
  }

  &-mobileNav {
    position: relative;
    display: flex;
    align-items: center;
    gap: $ds-spacings--medium;
    background-color: $ds-color-white;
    border-radius: $ds-radius-width-large;
    margin: 0;
    padding: $ds-spacings--small $ds-spacings--semi;

    @include breakpoint('desktop') {
      display: none;
    }
  }

  &-currentPageTitle {
    background: $ds-color-primary;
    text-align: center;
    border-radius: $ds-radius-width-large;
    font-size: size(14);
    padding: $ds-spacings--standard;
    line-height: 1;
  }

  &-burger {
    position: relative;
    cursor: pointer;
    z-index: 105;
    width: size(48);
    height: size(48);
    background-color: $ds-color-white;
    border-radius: $ds-radius-width-large;

    @include breakpoint('desktop') {
      display: flex;
    }

    span {
      position: absolute;
      background: $ds-color-black;
      z-index: 1;
      width: size(15);
      height: size(1.5);
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      transition: all .3s ease-in-out;

      &:before {
        position: absolute;
        content: '';
        background: $ds-color-black;
        width: size(15);
        height: size(1.5);
        transition: all .3s ease-in-out;
      }

      &:before {
        top: -10px;
      }
    }

    &.animate {
      //padding-inline: $ds-spacings--large; // A remettre s'il faut être iso à la DA mais comportement étrange

      span {
        background: $ds-color-black;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: all .3s ease-in-out;

        &:before {
          position: absolute;
          content: '';
          background: $ds-color-black;
          transition: all .3s ease-in-out;
        }

        &:before {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }

    @include breakpoint('desktop') {
      display: none;
    }
  }

  &-popupSearch {
    display: none;
    align-items: center;
    justify-content: center;
    width: size(46);
    height: size(47);
    cursor: pointer;
    background: transparent;

    @include breakpoint('desktop') {
      display: flex;
    }

    a {
      i {
        font-size: size(24);
        color: $ds-color-white;
      }
    }
  }

  //&.sticky {
  //
  //  @include breakpoint('desktop') {
  //    position: sticky;
  //    top: 0;
  //    z-index: 99;
  //    background-color: rgba(59, 59, 239, .8);
  //    height: $header-height-mobile;
  //    padding: 0;
  //    width: 100%;
  //    animation: slide-down 0.7s;
  //    backdrop-filter: blur(5px);
  //
  //    #nav {
  //      background-color: unset;
  //    }
  //
  //    .top-search {
  //      background-color: transparent;
  //    }
  //
  //    .popup_search {
  //      display: none;
  //      align-items: center;
  //      justify-content: center;
  //      width: size(46);
  //      height: 47px;
  //      cursor: pointer;
  //      background: transparent;
  //
  //      @include breakpoint('desktop') {
  //        display: flex;
  //      }
  //
  //      a {
  //        i {
  //          font-size: 1.5rem;
  //          color: $ds-color-white;
  //        }
  //      }
  //    }
  //  }
  //}
  //
  //&.shrink {
  //  height: $header-height-mobile;
  //
  //  #nav {
  //    height: $header-height-mobile / 2;
  //    background-color: transparent;
  //  }
  //
  //  .logo {
  //    img {
  //      height: $header-height-mobile /1.5;
  //    }
  //  }
  //
  //  .top-search {
  //    .popup_search {
  //      a {
  //        i {
  //          font-size: size(18);
  //        }
  //      }
  //    }
  //  }
  //}

  & + section:has(.HomePage) {
    //margin-block-start: $ds-spacings--xxx-large;
  }
}
