.planyo {
  overflow-x: visible !important;

  .input-group > .form-control {
    flex: 1 1 auto;
  }

  .form-group.planyo-form-item-group {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  select {
    &.form-control {
      flex: 1 1 100%;
    }
  }

  .input-group {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    input {
      position: relative;
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      flex: 1 1 100%;
    }

    span {
      &.input-group-addon {
        position: absolute;
        z-index: 3;
        top: $ds-spacings--x-small;
        right: $ds-spacings--semi;
        border: none;
        border-radius: unset;
      }
    }
  }
}

.search-result-container {
  margin-top: 0 !important;
}

#search-results {

  > .col-xs-12 {
    width: 100%;
    display: grid;
    gap: $ds-spacings--medium;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.resource-info {
  @include breakpoint('tablet', max) {
    max-width: size(400);
    margin: auto;
  }

  .resource-image {
    position: relative;
    height: size(300);
    margin-bottom: $ds-spacings--medium;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

  }
}

.container-fluid {
  max-width: unset !important;
  width: unset !important;
  all: unset;

  &#searchview-code {
    display: grid;

    @include breakpoint('tablet') {
      grid-template-columns: .25fr .75fr;
      gap: $ds-spacings--medium;
    }
  }

  .planyo_mode_resource_desc {
  }

}

.Page {
  &-wrapper {
    @extend %PageWrapper;
  }

  &-inner {
    @extend %PageInner;
  }

  &.-booking {
    min-height: 100vh;

    .Page {
      &-list {
        .planyo {


          .action-buttons {
            display: flex;
            gap: $ds-spacings--standard;

            .btn {
              &.btn.btn-primary {
                @extend %Button--primary;
              }
            }
          }

          #resource-details {
            all: unset;
            display: grid;
            grid-template-columns: repeat(12, 1fr) !important;
            grid-template-areas: "title"
                                 "desc"
                                 "carousel";
            gap: $ds-spacings--medium;

            @include breakpoint('desktop') {
              grid-template-columns: repeat(12, 1fr) !important;
              grid-template-areas: "title title"
                                 "desc carousel";
            }

            > .col-xs-12.col-12:has(h1) {
              grid-area: title;
              grid-column: 1/-1;

              h1 {
                @extend %TextStyle-heading3;
                font-family: $title-font;
                line-height: 1.1;
                text-align: left;
                font-weight: 700;
                margin-inline: unset;
              }
            }

            div {
              &:last-child {
                grid-area: desc;
                grid-column: 1/-1;

                @include breakpoint('desktop') {
                  grid-column: 1/8;
                }

                .description {
                  all: unset;
                  margin-top: 0;
                  font-weight: 200;
                  display: flex;
                  line-height: 1.4;
                }
              }

              &.carousel {
                grid-area: carousel;
                grid-column: 1/-1;

                @include breakpoint('desktop') {
                  grid-column: 8/13;
                }
              }
            }

            > .col-xs-12,
            > .col-12 {
              .resource-footer {
                a {
                  @extend %Button--secondary;
                }
              }
            }

            .calendar-preview {
              display: flex;
            }

            .custom_property {
              background-color: $ds-color-tertiary-lighten;
              margin-block: $ds-spacings--medium;
              padding: $ds-spacings--medium;
            }
          }

          #planyo_content {
            .container-fluid {
              all: unset !important;
            }
          }

          #reservation-code {
            all: unset !important;;

            form {
              display: grid;
              gap: $ds-spacings--large;

              @include breakpoint('desktop') {
                grid-template-columns: repeat(2, 1fr);
              }

              label {
                margin-block: $ds-spacings--semi;
              }

              .checkbox {
                label {
                  input {
                    margin-right: $ds-spacings--semi;
                  }
                }

                + .help-block {
                  font-size: $ds-font-size-300;
                  font-weight: 500;
                }
              }

              .left {
                all: unset;
                font-size: $ds-font-size-400 !important;
                display: flex;
                align-items: center;
                font-weight: 600;
              }
            }

            #reserve_form {
              margin-top: unset;
            }

            .form-group {
              all: unset;

              display: flex;
              flex-flow: row wrap;

              &.phone-row {

                > .row {
                  all: unset;
                  display: grid;
                  grid-template-columns: 110px 1fr;
                  width: 100%;

                  .prefix {
                    all: unset;
                    position: relative;
                    z-index: 1;
                    width: auto;
                  }

                  .p_number {
                    width: 100%;
                    display: flex;

                    input {
                      padding-left: size(40);
                    }
                  }
                }
              }
            }


          }
        }

        #details_code {
          display: grid;
          width: 100%;
          align-items: center;
          gap: $ds-spacings--large;

          .summary {
            &.dl-horizontal {
              display: grid;
              gap: $ds-spacings--semi;

              @include breakpoint('tablet') {
                grid-template-columns: 25% auto;
              }

              > dt,
              > dd {
                all: unset;
                display: flex;
                align-items: center;
                padding-block: $ds-spacings--standard;
                padding-inline-start: $ds-spacings--semi;
              }

              dt {
                &:nth-child(odd) {
                  background-color: $ds-color-tertiary-lighten;
                }
              }
            }
          }
        }
      }
    }
  }
}

form {
  &#box_search_form {
    width: 100%;
  }
}

.row:has(#from_calendar) {
  display: none !important;
}

#shopping-cart {
  .list-group-item {
    display: flex;

    > .row {
      width: 100%;
    }
  }
}

.list-group {
  padding-left: 0;
}

.list-group-item.cart-item {
  padding: $ds-spacings--standard;
  margin-bottom: $ds-spacings--medium;
  background-color: lighten($ds-color-tertiary, 35%);
}

a {
  &.btn.btn-lg {
    all: unset;

    @extend %Button--primary;
  }
}

#stripe_checkout_button {
  background-color: $ds-color-secondary;
}

form[name="stripe_checkout_form"] {
  display: flex;
}

span {
  &#stripe_checkout_button {
    display: flex !important;
    justify-content: center;
    align-items: center;

    input {
      font-size: $ds-font-size-500;
      font-weight: 700;
    }
  }
}

.online_payments {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}