.HeroBanner {
  @extend %PageWrapper;

  position: relative;
  display: flex;
  align-items: flex-end;
  background: url($path-img + 'hero-homepage.svg') center no-repeat;
  background-size: cover;
  min-height: size(900); // S'assure que la section occupe tout l'écran

  &-inner {
    @extend %PageInner;

    position: relative;
    display: flex;
  }

  &-title {
    color: $ds-color-white;
    font-family: $title-font;
    font-size: size(45);
    font-weight: 200;
    max-width: size(880);
    margin-bottom: $ds-spacings--xxx-wide;

    span {
      font-family: $title-span;
      font-style: italic;
      font-weight: 400;
    }
  }
}

.Home {
  @extend %PageWrapper;

  &-inner {
    @extend %PageInner;

    h1 {
      @extend %TextStyle-heading1;

      text-align: center;
      padding-block: size(146);

      span {
        font-family: $title-span;
        font-style: italic;
      }
    }
  }
}

.HomeGallery {
  @extend %PageWrapper;

  margin-block-end: $ds-spacings--x-large;

  @include breakpoint('tablet') {
    margin-block-end: $ds-spacings--xx-wide;
  }

  &-inner {
    @extend %PageInner;

    display: grid;
    gap: $ds-spacings--large;

    @include breakpoint('tablet') {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "clientOne clientTwo"
      "clientThree clientThree"
      "clientFour clientFive";
      gap: $ds-spacings--standard;
    }
  }

  div[class*="-client"] {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &-clientOne {
    @include breakpoint('tablet') {
      grid-area: clientOne;
      grid-column: 1/2;
    }
  }

  &-clientTwo {
    @include breakpoint('tablet') {
      grid-area: clientTwo;
      grid-column: 2/3;
    }
  }

  &-clientThree {
    @include breakpoint('tablet') {
      grid-area: clientThree;
      grid-column: 1/-1;
    }
  }

  &-clientFour {
    @include breakpoint('tablet') {
      grid-area: clientFour;
      grid-column: 1/2;
    }
  }

  &-clientFive {
    @include breakpoint('tablet') {
      grid-area: clientFive;
      grid-column: 2/3;
    }
  }
}

.GreenSection {
  @extend %PageWrapper;

  background-color: $ds-color-secondary;
  color: $ds-color-white;
  padding-block: $ds-spacings--xxx-wide;

  &-inner {
    @extend %PageInner;

    display: flex;
    gap: $ds-spacings--xxx-large;
  }

  &-title {
    @extend %TextStyle-heading2;

    flex: 1 1 33%;
  }

  &-description {
    flex: 1 1 66%;
  }
}