.header-cart{
  position: absolute;
  top:2rem;
  right: 1rem;

  svg{
    fill: $ds-color-black;
  }

  &:hover{
    svg{
      fill: $ds-color-primary;
    }
  }
}

.woocommerce, .woocommerce-page .content-area {

  width: 100%;

  .products-list{
    clear:both;
  }

  .woocommerce-result-count{
  }

  a, button, input{

    &.button{

    }
  }
}