{% include 'partials/searchform.twig' %}

{# Scroll Top #}
{% if options.scroll_top_enabled %}
    <a href="#{{ top_anchor }}" class="scrolltop">

    </a>
{% endif %}

{# Popup container #}
<div id="popup">
    <div class="popup-content">
    </div>
</div>

{# Footer Menu if enabled #}
<div class="SiteFooter">
    <div class="SiteFooter-inner -themeDark">
        <div class="SiteFooter-contactBlock">
            <h3 class="SiteFooter-title">
                Vous avez raison de<br>
                vouloir <span>nous contacter !</span>
            </h3>
            <div class="SiteFooter-actions">
                <a href="" class="Button -primary">J'ai un projet à vous proposer</a>
            </div>
        </div>


        <div class="SiteFooter-presentationBlock">
            <div class="SiteFooter-description">
                Nous sommes des animaux sociaux.<br>
                C’est pour cela que l’Agence collective vous partage les meilleurs moments
                de sa jungle life sur LinkedIn et Instagram.
            </div>

            <div class="SiteFooter-social">
                <ul>
                    <li>
                        <a href="" class="Button -simpleLink">Linkedin</a>
                    </li>
                    <li>
                        <a href="" class="Button -simpleLink">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="SiteFooter-brandBlock">
            <div class="SiteFooter-logo">
                <img src="{{ assets }}images/white-logo-148.svg" alt="" class="">
            </div>
            <div class="SiteFooter-address">
                2 Rue du Dahomey,<br>
                75011 Paris
            </div>
        </div>


        <div class="SiteFooter-menuBlock">
            <ul>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Politique de confidentialité</a></li>
            </ul>
        </div>

        <div class="SiteFooter-certificationBlock">
            <img src="{{ assets }}images/logo-bcorp.svg" class="SiteFooter-certificationBlock -desktop"
                 alt="Agence 148 | Entreprise Bcorp">
            {#            <img src="{{ assets }}images/logo-bcorp-mobile.svg" class="SiteFooter-certificationBlock -mobile" alt="Agence 148 | Entreprise Bcorp"> #}
        </div>
    </div>
</div>