{% if menu %}

	<ul>

        {% for item in menu %}

			<li class="{{ item.classes | join(' ') }}">

				{% set menu_link = item.link %}
				{% if options.is_one_page and item.master_object.post_type == 'page' %}
					{% if item.master_object.ID == post.ID %}
                        {% set menu_link = "#" ~ top_anchor %}
					{% else %}
                        {% set menu_link = sections[item.master_object.post_name].link %}
					{% endif %}
				{% endif %}

				<a target="{{ item.target }}" href="{{ menu_link }}">{{ item.title }}</a>

                {% if item.get_children %}
                	{% include "partials/sitemap-menu.twig" with {'menu': item.get_children, 'submenu': true} %}
				{% endif %}
			</li>

        {% endfor %}

	</ul>
{% endif %}
