{% if menu %}
    <ul class="submenu">
        {% for item in menu %}
            <li class="nav-link {{ item.classes | join(' ') }}">
                {% set menu_link = item.link %}
                {% if options.is_one_page and item.master_object.post_type == 'page' and is_home  %}
                    {% if item.master_object.ID == post.ID %}
                        {% set menu_link = home_url ~ "#" ~ top_anchor %}
                    {% elseif sections[item.master_object.post_name] %}
                        {% set menu_link = sections[item.master_object.post_name].link %}
                    {% endif %}
                {% endif %}

                <a target="{{ item.target }}" href="{{ menu_link }}"
                   {% if item.get_children %}aria-haspopup="true"{% endif %}>{{ item.title }}</a>

                {% if item.get_children %}
                    {% include "partials/submenu.twig" with {'submenu': item.get_children, 'submenu': true} %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}