.switcher {
  font-family: $label-font;
  font-size: size(12);
  font-weight: 500;
  z-index: 10;
  text-align: left;
  display: none;

  @include breakpoint('desktop') {
    display: flex;
  }

  .wpml-ls-legacy-dropdown {
    width: auto;

    & > ul {
      position: relative;
      margin: 0;
    }
  }
}

.wpml-ls-legacy-dropdown li {
  list-style-type: none;

  &:before {
    display: none;
  }

  &.wpml-ls-item-legacy-dropdown {
    text-align: center;

    .wpml-ls-sub-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      border-top: 0;
      padding: 0;
      margin: 0;
      list-style-type: none;
      z-index: 101;
      background: transparent;
      border-radius: 0;
      @include transition;
    }

    &:hover {
      .wpml-ls-sub-menu {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 0;
        margin: 0;
        list-style-type: none;
        z-index: 101;
        background: $ds-color-white;
        border-radius: 0;
        @include transition;


        li {
          @include transition;
          color: $ds-color-black;

          &:hover {
            background: $ds-color-primary;
            color: $ds-color-black;
            @include transition;
          }
        }
      }
    }
  }

  a {
    &.js-wpml-ls-item-toggle {
      &.wpml-ls-item-toggle {
        z-index: 102;
        background: transparent;
        border: 0;
        text-align: left;
        padding: 10px 0px 10px 10px;
        color: $ds-color-black;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    border: 0;
    background: transparent;
    line-height: 1;
    border-radius: 0;
    color: $ds-color-black;
    font-weight: 500;
    font-size: .875rem;
    text-align: left;

    &.wpml-ls-item-toggle {
      &:after {
        font-family: $font-icons;
        font-weight: 900;
        content: '\f107';
        font-size: .875rem;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        border: 0;
        border-top: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        color: $ds-color-black;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background-color: transparent;
      }
    }
  }
}

.wpml-ls-legacy-dropdown {
  font-size: .875rem;
  max-width: 100%;
  width: auto !important;
  margin: 0;

  @include breakpoint(large) {
    margin: 0;
  }

  span {
    position: relative;
    margin: 0;
    top: 0;
    padding-right: 0;
  }
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 101;
  background: $ds-color-black;

  a {
    border-top: 0;
    border-left: 1px solid $ds-color-black;
    border-bottom: 0px solid $ds-color-white;
    border-right: 1px solid $ds-color-black;
    text-align: left;
  }

  li {
    background: $ds-color-black;
    text-align: center;

    @include breakpoint(large) {
      text-align: left;
    }

    a {
      background: $ds-color-black;
      color: $ds-color-white;
    }
  }
}

.wpml-ls-legacy-dropdown a:hover, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
  color: $ds-color-white;
}


#trp-floater-ls.trp-color-dark {
  background-color: $ds-color-secondary;
}

.trp-color-dark #trp-floater-ls-current-language a,
.trp-color-dark #trp-floater-ls-language-list a {
  color: $ds-color-white;
}