{#
Title: Bloc lien
Description: Permet d'insérer un ou plusieurs liens.
Category: Contenu du flexible
Icon: admin-links
Keywords: gosselink link lien
#}

{% set flexi_link = function('get_field', 'link') %}

<div class="LinkDownload">
    {% for item in flexi_link %}
        <div class="Card -links">
            {% if item.img_link %}
                <div class="Card-picture">
                    <img src="{{ TimberImage(item.img_link).src }}" alt="{{ item.img_link.alt }}">
                </div>
            {% endif %}

            <a href="{{ item.url_link }}" {% if item.target is not empty %} target="_blank" {% endif %}
               class="Card-link">
                <span>
                {{ item.link_title }}
                </span>
            </a>
        </div>
    {% endfor %}
</div>